<server description="Sample Liberty server">

    <featureManager>
        <feature>socialLogin-1.0</feature>
        <feature>appSecurity-4.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080" />
    <variable name="default.https.port" defaultValue="9443" />

    <httpEndpoint host="*" httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

    <webApplication location="sample-cognito.war" contextRoot="/">
        <application-bnd>
            <security-role name="user">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
    </webApplication>

</server>
